/TPTSample/.vs
/TPTSample/TPTSample/bin
/TPTSample/TPTSample/obj
/TPTSample/UtilLib/obj
/TPTSample/packages
/TPCSample/.vs/config
/TPCSample/TPCSample/bin
/TPCSample/TPCSample/obj
/TPCSample/UtilLib/obj
/TPCSample/packages
/TPHSample/.vs/config
/TPHSample/TPHSample/bin
/TPHSample/TPHSample/obj
/TPHSample/UtilLib/obj
/TPHSample/packages
