/TPTSample/.vs
/TPTSample/TPTSample/bin
/TPTSample/TPTSample/obj
/TPTSample/UtilLib/obj
/TPTSample/packages
/TPCSample/.vs/config
/TPCSample/TPCSample/bin
/TPCSample/TPCSample/obj
/TPCSample/UtilLib/obj
/TPCSample/packages
